#grid{
    width: 400px;
    height: 350px;
    background-color: white;
    margin: auto;
    text-align: center;
}

.row{
    display: flex;
    padding: 30px;
}

.seperator{
    position: absolute;
    width: 20px;
    height: 350px;
    border: 1px solid white; 
    
    background-color: white;
}